<section class="loojang-app">  
  <app-navbar></app-navbar>
  <div class="container">        
    <br>
    <h1 class="display-4" *ngIf="insertNewPatient==false">{{ title | titleCase }}</h1>        
    <h1 class="display-4" *ngIf="insertNewPatient==true">New Patient</h1>        
    <br>
    <div class="card">
      <div class="card-body">
        <div class="container"> 
          <h5 i18n="@@patientdetails">Details</h5>
          <br>
          <app-patient-details
            [patient]="patient"
            [insertNewPatient]="insertNewPatient"
            (patientChange)="onPatientChange($event)"
            (patientDelete)="onPatientDelete($event)"
            (patientLeft)="onPatientLeft($event)"
            [authorized]="authorized"
            [patientIsPresent]="patientIsPresent"
            ></app-patient-details>
        </div>
      </div>
    </div>   
    
    <ng-container *ngIf="(insertNewPatient==false) && (currentRole==='ADMIN' || currentRole==='GUARDIAN')" >
      <br>
      <br>
      <div class="card">
        <div class="card-body">          
          <h5 i18n="@@patientsrooms">Room History</h5>
          <br>
          <div class="row col-6" *ngIf="authorized">                
            <div class="col-4">
              <select class="form-control" (change)="onSelectedRoomChange($event)">
                <option [ngValue]="room" [disabled]="!patientIsPresent" *ngFor="let room of rooms">{{room.roomCode}}</option>                    
              </select>
            </div>
            <div class="col-1">
              <button class="btn btn-primary" [disabled]="!patientIsPresent" i18n="@@movepatienttoroom" (click)="moveToRoom()">Move To Room</button>            
            </div>
          </div>
          <br>        
          <br>   

          <app-patientsrooms-list
            [patientsRooms]="patientsRooms"
            [searchStringPatientsRooms]="searchStringPatientsRooms"
            ></app-patientsrooms-list>
        </div>
        
      </div>   
    </ng-container>

    <ng-container *ngIf="(insertNewPatient==false) && (currentRole==='ADMIN' || currentRole==='GUARDIAN')" >
      <br>
      <br>
      <div class="card">
        <div class="card-body">          
          <h5 i18n="@@patientsguardians">Guardians</h5>
          <br>
          <div class="row col-6" *ngIf="authorized">                
            <div class="col-4">
              <select class="form-control" (change)="onSelectedGuardianChange($event)">
                <option [ngValue]="guardian" [disabled]="!!guardians && (!patientIsPresent || guardians.length == 0)" *ngFor="let guardian of guardians">{{ guardian.firstName + ' ' + guardian.lastName }}</option>
              </select>
            </div>
            <div class="col-1">
              <button class="btn btn-primary" [disabled]="!!guardians && (!patientIsPresent || guardians.length == 0)" i18n="@@assignpatienttoguardian" (click)="assignToGuardian()">Assign Guardian</button>            
            </div>
          </div>
          <br>        
          <br>   

          <app-patientsguardians-list
            [(patientsGuardians)]="patientsGuardians"
            [searchStringPatientsGuardians]="searchStringPatientsGuardians"
            [authorized]="authorized"
            (patientsGuardianRemoved)="onRemovePatientsGuardian($event)"
            ></app-patientsguardians-list>
        </div>
        
      </div>   
    </ng-container>
    
    <ng-container *ngIf="(insertNewPatient==false) && (currentRole==='ADMIN' || currentRole==='GUARDIAN')" >
      <br>
      <br>
      <div class="card">
        <div class="card-body">          
          <h5 i18n="@@patientsdoctors">Doctors</h5>
          <br>
          <div class="row col-6" *ngIf="authorized">                
            <div class="col-4">
              <select class="form-control" (change)="onSelectedDoctorChange($event)">
                <option [ngValue]="doctor" [disabled]="!!doctors && (!patientIsPresent || doctors.length == 0)" *ngFor="let doctor of doctors">{{ doctor.firstName + ' ' + doctor.lastName }}</option>
              </select>
            </div>
            <div class="col-1">
              <button class="btn btn-primary" [disabled]="!!doctors && (!patientIsPresent || doctors.length == 0)" i18n="@@assignpatienttodoctor" (click)="assignToDoctor()">Assign Doctor</button>            
            </div>
          </div>
          <br>        
          <br>   

          <app-patientsdoctors-list
            [(patientsDoctors)]="patientsDoctors"
            [searchStringPatientsDoctors]="searchStringPatientsDoctors"
            [authorized]="authorized"
            (patientsDoctorRemoved)="onRemovePatientsDoctor($event)"
            ></app-patientsdoctors-list>
        </div>
        
      </div>   
    </ng-container>

    <ng-container *ngIf="(insertNewPatient==false) && (currentRole==='ADMIN' || currentRole==='DOCTOR')" >
      <br>
      <br>
      <div class="card">
        <div class="card-body">                  
          <h5 i18n="@@patientsmedicalcases">Medical Cases</h5>
          <br>
          <div class="row col-6" *ngIf="currentRole==='DOCTOR'">                
            <div class="col-1">
              <button class="btn btn-primary" (click)="createMedicalCase()" i18n="@@createnewmedicalcase">Create New Medical Case</button>
            </div>
          </div>
          <br>        
          <br> 

          <app-medicalcases-list
            [medicalCases]="medicalCases"
            [searchStringMedicalCase]="searchStringMedicalCase"
            ></app-medicalcases-list>
        </div>
        
      </div>   
    </ng-container>     

    <br>        
    <br>
    
  </div>
</section>