<section class="loojang-app">  
  <app-navbar></app-navbar>
  <div class="container">        
    <br>
    <h1 class="display-4" *ngIf="insertNewRoom==false">{{ title | titleCase }}</h1>        
    <h1 class="display-4" *ngIf="insertNewRoom==true">New Room</h1>        
    <br>
    <div class="card">
      <div class="card-body">
        <app-room-details
          [room]="room"
          [insertNewRoom]="insertNewRoom"
          (roomChange)="onRoomChange($event)"
          (roomDelete)="onRoomDelete($event)"
          [authorized]="authorized"
          ></app-room-details>
        <br>
        <br>
      </div>
    </div>   
  </div>
</section>