<td>
    {{ procedure.patientName }}
</td>

<td>
  <!--  
    <a routerLink="{{ '/' + currentRole.toLowerCase() + '/prescriptions/' + procedure.prescriptionId }}" >{{ procedure.prescriptionDescription }}</a>
  -->
  {{ procedure.prescriptionDescription }}
</td>
  
<td>
  {{ procedure.scheduledDate | date }} {{ procedure.scheduledDate | date:'HH:mm' }} 
</td>

<td>
  {{ procedure.actualDate | date }}  {{ procedure.actualDate | date:'HH:mm' }}
</td>

<td>
  {{ procedure.caretakerName }}
</td>

<!--
  <td>
    <p app-textbox-view-edit [(value)]="procedure.comment" [authorized]="authorized"> </p>
  </td>
-->
  
<td *ngIf="authorized">
  <button class="btn btn-sm btn-info" *ngIf="currentRole==='CARETAKER'" (click)="updateProcedure(procedure)" i18n="@@completeprocedure">Complete</button>
  <button class="btn btn-sm btn-danger" *ngIf="currentRole==='ADMIN'" (click)="deleteProcedure(procedure)" i18n="@@deleteprocedure">Delete</button>
</td>

