<section class="main">
  
  <!-- List Header -->
  <div class="form-group">
      <div class="input-group col-md-6">
        <ng-container i18n="@@filter">Filter</ng-container>
        <div class="input-group addon">
            <input type="text" class="form-control" [(ngModel)]="searchStringPrescriptions">
        </div>
      </div>
    </div>


  <!-- List Body -->
  <div class="table-responsive">
    <table class="table table-striped table-sm">  
      <thead>
        <tr>
          <th (click)="adjustSort('startDate')" i18n="@@startDate">Start Date</th>
          <th (click)="adjustSort('endDate')" i18n="@@endDate">End Date</th>
          <th (click)="adjustSort('description')" i18n="@@description">Description</th>
          <th (click)="adjustSort('frequency')" i18n="@@frequency">Frequency</th>
          <th (click)="adjustSort('comment')" i18n="@@comment">Comment</th>
          <th *ngIf="authorized" i18n="@@removedoctor">Remove</th>
        </tr>        
      </thead>
      <tbody>
        <tr *ngFor="let prescription of prescriptions | searchPrescriptionsPipe: searchStringPrescriptions | sortPrescriptionsPipe : sortCriteria : sortOrder"
          app-prescription-list-item
          [prescription]="prescription"
          [authorized]="authorized"
          [frequencyTypes]="frequencyTypes"
          (remove)="onPrescriptionRemoved($event)"></tr>
      </tbody>
    </table>
  </div>


  <!-- List Footer -->
  <ng-container *ngIf="searchStringPrescriptions.length == 0" i18n=@@totalprescriptions>
    Total {{prescriptions.length}} { prescriptions.length, plural, zero {prescription} one {prescription} other {prescriptions} }. 
  </ng-container>
  <ng-container *ngIf="searchStringPrescriptions.length > 0" i18n=@@selectedprescriptions>
    Selected {{(prescriptions | searchPrescriptionsPipe : searchStringPrescriptions )?.length}} { (prescriptions | searchPrescriptionsPipe : searchStringPrescriptions )?.length, plural, zero {prescription} one {prescription} other {prescriptions} } of
    total {{prescriptions.length}} { prescriptions.length, plural, zero {prescription} one {prescription} other {prescriptions} }. 
  </ng-container>

</section>