<section class="loojang-app">  
  <app-navbar></app-navbar>  
  <div class="container">        
    <br>
    <h1 class="display-4" i18n="@@patients">Patients</h1>    
    <p class="lead"  i18n="@@patientsintro">List of patients of retirement home "Kuldne Loojang".</p>
    <br>
    <div class="card">
      <div class="card-body">
        <br>
        <div class="input-group col-md-6" *ngIf="authorized">
            <a routerLink="new">
              <button class="btn btn-primary" i18n="@@createnewpatient" *ngIf="authorized">Create New Patient</button>
            </a>
        </div>
        <br>
        <app-patients-list
          [patients]="patients"
          [searchString]="searchString"
          ></app-patients-list>
        <br>
        <br>
      </div>
    </div>   
  </div>
</section>