<app-navbar></app-navbar>

<div class="container">        
  <br>
  <h1 class="display-4" i18n="@@pageNotFoundTitle">404 Page not found!</h1>
  <br>
  <div class="card">
    <div class="card-body">
      <div class="container">

        <p i18n="@@pagenotfound text">Page you are trying to load is not found!</p>
        <br>        
        
      </div>
    </div>
  </div>
</div>