<section class="main">
  <div class="container">
    <h5 i18n="@@proceduredetails">Procedure Details</h5>
    <br>

    <div class="row">
      <div class="col-5">
        <span i18n="@@procedureid">Procedure Id</span>
        <h2 app-textbox-view-edit [(value)]="procedure.procedureId" [authorized]="authorized"> r</h2>
      </div>

      <div class="col-5">
        <span i18n="@@prescriptionid">Prescription Id</span>
        <h2 app-textbox-view-edit [(value)]="procedure.prescriptionId" [authorized]="authorized"> r</h2>
      </div>

      <div class="col-5">
        <span i18n="@@scheduleddate">Scheduled Date</span>
        <h2 app-textbox-view-edit [(value)]="procedure.scheduledDate" [authorized]="authorized"> </h2>
      </div>

      <div class="col-5">
        <span i18n="@@actualdate">Actual Date</span>
        <h2 app-textbox-view-edit [(value)]="procedure.actualDate" [authorized]="authorized"> </h2>
      </div>

    </div>
    <br><br>

    <div class="row" *ngIf="authorized">
      <div class="col-12">
        <button class="btn btn-primary" *ngIf="!insertNewProcedure" (click)="procedureMarkCompleted()" i18n="@@procedureMarkCompleted">Mark As Completed</button>
        <button class="btn btn-danger" *ngIf="!insertNewProcedure" (click)="deleteProcedure()" i18n="@@delete">Delete</button>
      </div>
    </div>
    <br><br>

    <div class="row">
      <div class="col-10">
        <span i18n="@@comment">Comment</span>
        <span class="col-8" app-textarea-view-edit [(value)]="procedure.comment" [authorized]="authorized"></span>
      </div>
    </div>

  </div>
</section>
