<section class="main">

  <!-- List Header -->
  <div class="form-group">
      <div class="input-group col-md-6">
        <ng-container i18n="@@filter">Filter</ng-container>
        <div class="input-group addon">
            <input type="text" class="form-control" [(ngModel)]="searchStringMedicalCase">
        </div>
      </div>
    </div>


  <!-- List Body -->
  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th (click)="adjustSort('createdOn')" i18n="@@created">Created</th>
          <th (click)="adjustSort('patientName')" i18n="@@patient">Patient</th>
          <th (click)="adjustSort('doctorName')" i18n="@@doctor">Doctor</th>
          <th (click)="adjustSort('comment')" i18n="@@comment">Comment</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let medicalCase of medicalCases | searchMedicalCasesPipe: searchStringMedicalCase | sortMedicalCasesPipe : sortCriteria : sortOrder"
          app-medicalcases-list-item
          [medicalCase]="medicalCase"></tr>
      </tbody>
    </table>
  </div>


  <!-- List Footer -->
  <ng-container *ngIf="searchStringMedicalCase.length == 0" i18n=@@totalmedicalCases>
    Total {{medicalCases.length}} { medicalCases.length, plural, zero {room} one {room} other {medicalCases} }.
  </ng-container>
  <ng-container *ngIf="searchStringMedicalCase.length > 0" i18n=@@selectedmedicalCases>
    Selected {{(medicalCases | searchMedicalCasesPipe : searchStringMedicalCase )?.length}} { (medicalCases | searchMedicalCasesPipe : searchStringMedicalCase )?.length, plural, zero {room} one {room} other {medicalCases} } of
    total {{medicalCases.length}} { medicalCases.length, plural, zero {room} one {room} other {medicalCases} }.
  </ng-container>

</section>
