<!-- List Header -->
<div class="form-group">
  <div class="input-group col-md-6">
    <ng-container i18n="@@filter">Filter</ng-container>
    <div class="input-group addon">
      <input type="text" class="form-control" [(ngModel)]="searchStringPatientsDoctors">
    </div>
  </div>
</div>


<!-- List Body -->
<div class="table-responsive">
  <table class="table table-striped table-sm">  
    <thead>
      <tr>
        <th (click)="adjustSort('firstName')" i18n="@@firstname">First Name</th>
        <th (click)="adjustSort('lastName')" i18n="@@lastname">Last Name</th>
        <th (click)="adjustSort('fromDate')" i18n="@@fromdate">From</th>
        <th (click)="adjustSort('toDate')" i18n="@@todate">To</th>       
        <th *ngIf="authorized" i18n="@@removedoctor">Remove</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let patientsDoctor of patientsDoctors | searchPatientsDoctorsPipe: searchStringPatientsDoctors | sortPatientsDoctorsPipe : sortCriteria : sortOrder"
        app-patientsdoctors-list-item
        (patientsDoctorRemoved)="onRemovePatientsDoctor($event)"
        [patientsDoctor]="patientsDoctor"
        [authorized]="authorized"></tr>
    </tbody>
  </table>
</div>

<!-- List Footer -->
<ng-container *ngIf="searchStringPatientsDoctors.length == 0 "i18n=@@totalpatientsrooms>
  Total {{patientsDoctors.length}} { patientsDoctors.length, plural, zero {rooms} one {room} other {rooms} }. 
</ng-container>
<ng-container *ngIf="searchStringPatientsDoctors.length > 0" i18n=@@selectedpatientsrooms>
  Selected {{(patients | searchPatientsPipe : searchStringPatientsDoctors )?.length}} { (patients | searchPatientsPipe : searchStringPatientsDoctors )?.length, plural, zero {rooms} one {room} other {rooms} } of
  total {{patientsDoctors.length}} { patientsDoctors.length, plural, zero {rooms} one {room} other {rooms} }. 
</ng-container>