<section class="login">  

  <app-navbar></app-navbar>

  <div class="container">        
    <br>
    <h1 class="display-4" i18n="signinkuldneloojang">Sign in to "Kuldne Loojang"</h1>        
    <br>
    <div class="card">
      <div class="card-body">
        <div class="container">


        <form [formGroup]="frm">

            <!-- Username input -->
            <span i18n="@@username">Username</span><br>
            <input type="text" formControlName="username" placeholder="Email">
        
            <!-- Username validation message -->
            <div
              class="input-errors"
              *ngIf="(frm.get('username').invalid && frm.get('username').touched) || showInputErrors"
            >
              <div *ngIf="frm.get('username').hasError('required')" i18n="@@enterusername">
                Please enter your username</div>
            </div>
            <br>
            <br>

            <!-- Password input -->
            <span i18n="@@password">Password</span><br>
            <input type="password" formControlName="password" placeholder="********">
        
            <!-- Password validation message -->
            <div
              class="input-errors"
              *ngIf="(frm.get('password').invalid && frm.get('password').touched) || showInputErrors"
            >
              <div *ngIf="frm.get('password').hasError('required')" i18n="@@enterpassword">
                Please enter your password
              </div>
            </div>                
            <br>
            <br>

            <!-- Sign-in error message -->
            <div class="sign-in-error" *ngIf="hasFailed" i18n="@@invalidusernameorpassword">
                Invalid username and password.
            </div> 
            
            <!-- Sing-in button -->
            <button class="btn" (click)="doSignIn()" [disabled]="isBusy">
              <ng-template [ngIf]="!isBusy" i18n="@@signin">Sign in</ng-template>
              <ng-template [ngIf]="isBusy" i18n="@@signinginpleasewait">Signing in, please wait...</ng-template>
            </button>

              
            
          </form>

        </div>
      </div>
    </div>
  </div>

</section>