<td>{{ prescription.startDate | date }}</td>
<td>{{ prescription.endDate | date }}</td>
<td>{{ prescription.description }}</td>
<td>{{ frequencyTypeName }}</td>
<td>{{ prescription.comment }}</td>
<td *ngIf="authorized">
  <button class="btn btn-sm" i18n="@@removedoctrobutton" (click)="removePrescription()">Remove</button>    
</td>