<section class="main">

  <!-- List Header -->
  <div class="form-group">

      <div class="input-group col-md-6">
        <ng-container i18n="@@findbetweenschedueddates">Find between Sheduled Dates</ng-container>
        <div class="input-group addon">
          <ng-container i18n="@@dateFrom:">Date from: </ng-container>
          <input type="text" class="form-control" [(ngModel)]="dateFrom" title="yyyy-mm-dd" placeholder="yyyy-mm-dd">
          <ng-container i18n="@@dateTo:">Date to: </ng-container >
          <input type="text" class="form-control" [(ngModel)]="dateTo" title="yyyy-mm-dd" placeholder="yyyy-mm-dd">

        </div>

        <ng-container i18n="@@filter">Filter</ng-container>
        <div class="input-group addon">
            <input type="text" class="form-control" [(ngModel)]="searchString">
        </div>

      </div>
    </div>


  <!-- List Body -->
  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th (click)="adjustSort('patientName')" i18n="@@patientname">Patient</th>
          <th (click)="adjustSort('prescriptionDescription')" i18n="@@prescription">Prescription</th>
          <th (click)="adjustSort('scheduledDate')" i18n="@@scheduleddate">Scheduled Date</th>
          <th (click)="adjustSort('actualDate')" i18n="@@acualdate">Actual Date</th>
          <th (click)="adjustSort('caretakerName')" i18n="@@caretaker">Caretaker</th>
          <ng-container *ngIf="authorized">
            <th> </th>
          </ng-container>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let procedure of procedures | searchProceduresPipe: searchString | sortProceduresPipe : sortCriteria : sortOrder"
          app-procedures-list-item
          [procedure]="procedure"
          [authorized]="authorized"
          (toggleComplete)="onToggleProcedureComplete($event)"
          (update)="onUpdateProcedure($event)"
          (remove)="onRemoveProcedure($event)">
        </tr>
      </tbody>
    </table>
  </div>

</section>
