<td>
    <a routerLink="{{ patient.patientId }}">{{ patient.firstName | titleCase }}</a>
</td>
<td>
    <a routerLink="{{ patient.patientId }}">{{ patient.lastName | titleCase }}</a>
</td>
<td>
    <a routerLink="{{ patient.patientId }}">{{ patient.personalCode }}</a>
</td>
<td>{{ patient.birthDay | noFutureDates }}</td>
<td>{{ patient.room }}</td>
<td>{{ patient.joinedDate | noFutureDates }}</td>            
<td>{{ patient.leftDate | noFutureDates }}</td>
