<section class="main">
  <div class="container"> 
    <h5 i18n="@@medicalcasedetails">Medical Case Details</h5>
    <br>

    <div class="row">
      <div class="col-5">
        <span i18n="@@patient">Patient</span>
        <h2 app-textbox-view-edit [(value)]="medicalCase.patientName" [authorized]="false"> r</h2>  
      </div>
      
      <div class="col-5">
        <span i18n="@@doctor">Doctor</span>
        <h2 app-textbox-view-edit [(value)]="medicalCase.doctorName" [authorized]="false"> </h2>
      </div>
    </div>

    <div class="row">
      <div class="col-5">
        <span i18n="@@createdon">Created On</span>
        <h2 app-datebox-view-edit [(value)]="medicalCase.createdOn" [authorized]="authorized"> </h2>  
      </div>      
    </div>
    <br><br>

    <div class="row" *ngIf="authorized">
      <div class="col-12">
        <button class="btn btn-primary" *ngIf="!insertNewMedicalCase" (click)="saveMedicalCase()" i18n="@@save">Save</button>
        <button class="btn btn-primary" *ngIf="insertNewMedicalCase" (click)="saveMedicalCase()" i18n="@@add">Add</button>
        <button class="btn btn-danger" *ngIf="!insertNewMedicalCase && isAdmin" (click)="deleteMedicalCase()" i18n="@@delete">Delete</button>        
      </div>
    </div>
    <br><br>

    <div class="row">
      <div class="col-10">
        <span i18n="@@comment">Comment</span>
        <span class="col-8" app-textarea-view-edit [(value)]="medicalCase.comment" [authorized]="authorized"></span>
      </div>
    </div>

  </div>
</section>