<section class="loojang-app">  
  <app-navbar></app-navbar>
  <div class="container">        
    <br>
    <h1 class="display-4" i18n="@@users">Users</h1>    
    <p class="lead" i18n="@@usersintro">List of users in retirement home "Kuldne Loojang".</p>
    <br>
    <div class="card">
      <div class="card-body">
        <br>
        <!--
          <div class="input-group col-md-6" *ngIf="authorized">
            <a routerLink="new">
              <button class="btn btn-primary" i18n="@@createnewuser">Create New User</button>
            </a>
          </div>        
        -->
        <br>
        <app-users-list
          [users]="users"
          [searchString]="searchString"
          ></app-users-list>
        <br>
        <br>
      </div>
    </div>   
  </div>
</section>