<td>{{ user.email }}</td>
<td>{{ user.firstName }}</td>
<td>{{ user.lastName }}</td>
<td>
    <div class="btn-group-toggle" data-toggle="buttons"> 
      <label *ngFor="let potentialRole of availableRoles"
          class="btn btn-sm"
          [class.active]="role===potentialRole"
          [class.btn-primary]="role===potentialRole"
          [class.btn-link]="role!==potentialRole"
          >
                    
          <input
            type="radio"
            value=potentialRole
            name="{{ 'roleGroup' + user.email }}"
            autocomplete="off"            
            [checked]="role===potentialRole"
            (change)="onSelectionChange(potentialRole)"
          >
          {{ potentialRole | titleCase }}
      </label>      
  </div>
  <span> </span>
</td>
<td>
  <button class="btn btn-danger btn-sm" (click)="onUserRemove()" i18n="deleteuser">Delete</button>    
</td>