<section class="loojang-app">  
  <app-navbar></app-navbar>
  <div class="container">        
    <br>
    <h1 class="display-4" i18n="@@medicalcases">Medical Cases</h1>    
    <p class="lead" i18n="@@medicalcasesintro">List of medical cases in retirement home "Kuldne Loojang".</p>
    <br>
    <div class="card">
      <div class="card-body">
        <br>
        <div class="input-group col-md-6" *ngIf="authorized&&currentRole!='ADMIN'">
          <a routerLink="medicalcases/new">
            <button class="btn btn-primary" i18n="@@createnewmedicalcase">Create New Medical Case</button>
          </a>
        </div>        
        <br>
        <app-medicalcases-list
          [medicalCases]="medicalCases"
          [searchStringMedicalCase]="searchStringMedicalCase"
          ></app-medicalcases-list>
        <br>
        <br>
      </div>
    </div>   
  </div>
</section>