<section class="loojang-app">
  <app-navbar></app-navbar>
  <div class="container">
    <br>
    <h1 class="display-4" i18n="@@procedures">Procedures</h1>
    <p class="lead" i18n="@@proceduresintro">List of procedures</p>
    <br>
    <div class="card">
      <div class="card-body">
        <br>
        <div class="input-group col-md-6" *ngIf="false">
          <a routerLink="new">
            <button class="btn btn-primary" i18n="@@createnewprocedure">Create New Procedure</button>
          </a>
        </div>
        <br>
        <app-procedures-list
          [procedures]="procedures"
          [searchString]="searchString"
          [authorized]="authorized"
          ></app-procedures-list>
        <br>
        <br>
      </div>
    </div>
  </div>
</section>
