<!-- List Header -->
<div class="form-group">
  <div class="input-group col-md-6">
    <ng-container i18n="@@filter">Filter</ng-container>
    <div class="input-group addon">
      <input type="text" class="form-control" [(ngModel)]="searchStringPatientsGuardians">
    </div>
  </div>
</div>


<!-- List Body -->
<div class="table-responsive">
  <table class="table table-striped table-sm">  
    <thead>
      <tr>
        <th (click)="adjustSort('firstName')" i18n="@@firstname">First Name</th>
        <th (click)="adjustSort('lastName')" i18n="@@lastname">Last Name</th>
        <th (click)="adjustSort('fromDate')" i18n="@@fromdate">From</th>
        <th (click)="adjustSort('toDate')" i18n="@@todate">To</th>       
        <th *ngIf="authorized" i18n="@@removeguardian">Remove</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let patientsGuardian of patientsGuardians | searchPatientsGuardiansPipe: searchStringPatientsGuardians | sortPatientsGuardiansPipe : sortCriteria : sortOrder"
        app-patientsguardians-list-item
        (patientsGuardianRemoved)="onRemovePatientsGuardian($event)"
        [patientsGuardian]="patientsGuardian"
        [authorized]="authorized"></tr>
    </tbody>
  </table>
</div>

<!-- List Footer -->
<ng-container *ngIf="searchStringPatientsGuardians.length == 0 "i18n=@@totalpatientsrooms>
  Total {{patientsGuardians.length}} { patientsGuardians.length, plural, zero {rooms} one {room} other {rooms} }. 
</ng-container>
<ng-container *ngIf="searchStringPatientsGuardians.length > 0" i18n=@@selectedpatientsrooms>
  Selected {{(patients | searchPatientsPipe : searchStringPatientsGuardians )?.length}} { (patients | searchPatientsPipe : searchStringPatientsGuardians )?.length, plural, zero {rooms} one {room} other {rooms} } of
  total {{patientsGuardians.length}} { patientsGuardians.length, plural, zero {rooms} one {room} other {rooms} }. 
</ng-container>