<div *ngIf="authorized">    
    <span class="textbox" *ngIf="viewOrEdit == true" (click)="viewOrEdit = false">
        {{ value | noFutureDates }}
        <span *ngIf="value != null" class="edittext" i18n="@@edit">Edit</span>
    </span>
        
    <span *ngIf="viewOrEdit == false" >
        <br>
        <my-date-picker
            [options]="myDatePickerOptions"
            (dateChanged)="onDateChanged($event)">
        </my-date-picker>
        <button class="btn btn-sm" *ngIf="oldValue != null" (click)="cancel()" i18n="@@cancel">Cancel</button> 
    </span>
</div>
<div *ngIf="!authorized">    
    <span class="textbox">
        {{ value | noFutureDates }}
    </span>        
</div>