<section class="register">  

    <app-navbar></app-navbar>

    <div class="container">        
    <br>
    <h1 class="display-4" i18n="registerkuldneloojang">Register to "Kuldne Loojang"</h1>        
    <br>
    <div class="card">
      <div class="card-body">
        <div class="container">

        <form [formGroup]="frm">

            <!-- Username input -->
            <span i18n="@@email">Email</span><br>
            <input type="text" formControlName="username" placeholder="Email">
        
            <!-- Username validation message -->
            <div
              class="input-errors"
              *ngIf="(frm.get('username').invalid && frm.get('username').touched) || showInputErrors"
            >
              <div *ngIf="frm.get('username').hasError('required')" i18n="@@enterusername">
                Please enter your email</div>
            </div>
            <br>
            <br>

            <!-- Password input -->
            <span i18n="@@password">Password</span><br>
            <input type="password" formControlName="password" placeholder="********">
        
            <!-- Password validation message -->
            <div
              class="input-errors"
              *ngIf="(frm.get('password').invalid && frm.get('password').touched) || showInputErrors"
            >
              <div *ngIf="frm.get('password').hasError('required')" i18n="@@enterpassword">
                Please enter your password
              </div>
            </div>                
            <br>
            <br>

            <!-- Password confirmation input -->
            <span i18n="@@passwordconfirm">Repeat password</span><br>
            <input type="password" formControlName="passwordConfirm" placeholder="********">
        
            <!-- Password validation message -->
            <div
                class="input-errors"
                *ngIf="(frm.get('passwordConfirm').invalid && frm.get('passwordConfirm').touched) || showInputErrors"
            >
                <div *ngIf="frm.get('passwordConfirm').hasError('required')" i18n="@@enterpasswordconfirm">
                Please enter your password confirmation
                </div>
            </div>                
            <br>
            <br>


            <!-- First name input -->
            <span i18n="@@firstname">First name</span><br>
            <input type="text" formControlName="firstName">
        
            <!-- First name validation message -->
            <div
                class="input-errors"
                *ngIf="(frm.get('firstName').invalid && frm.get('firstName').touched) || showInputErrors"
            >
                <div *ngIf="frm.get('firstName').hasError('required')" i18n="@@enterfirstname">
                Please enter your first name
                </div>
            </div>                
            <br>
            <br>

            <!-- Last name input -->
            <span i18n="@@lastname">Last name</span><br>
            <input type="text" formControlName="lastName">
        
            <!-- Last name validation message -->
            <div
                class="input-errors"
                *ngIf="(frm.get('lastName').invalid && frm.get('lastName').touched) || showInputErrors"
            >
                <div *ngIf="frm.get('lastName').hasError('required')" i18n="@@enterlastname">
                Please enter your last name
                </div>
            </div>                
            <br>
            <br>
            
            <!-- Register button -->
            <button class="btn" (click)="doRegister()" [disabled]="isBusy">
              <ng-template [ngIf]="!isBusy" i18n="@@register">Register</ng-template>
              <ng-template [ngIf]="isBusy" i18n="@@registeringpleasewait">Signing in, please wait...</ng-template>
            </button>

          </form>

        </div>
      </div>
    </div>
  </div>

</section>