<section class="main">
  <div class="container"> 
    <h5 i18n="@@roomdetails">Room Details</h5>
    <br>

    <div class="row">
      <div class="col-5">
        <span i18n="@@roomcode">Room code</span>
        <h2 app-textbox-view-edit [(value)]="room.roomCode" [authorized]="authorized"> r</h2>  
      </div>
      
      <div class="col-5">
        <span i18n="@@capacity">Capacity</span>
        <h2 app-textbox-view-edit [(value)]="room.capacity" [authorized]="authorized"> </h2>
      </div>
    </div>
    <br><br>

    <div class="row" *ngIf="authorized">
      <div class="col-12">
        <button class="btn btn-primary" *ngIf="!insertNewRoom" (click)="saveRoom()" i18n="@@save">Save</button>
        <button class="btn btn-primary" *ngIf="insertNewRoom" (click)="saveRoom()" i18n="@@add">Add</button>
        <button class="btn btn-danger" *ngIf="!insertNewRoom" (click)="deleteRoom()" i18n="@@delete">Delete</button>        
      </div>
    </div>
    <br><br>

    <div class="row">
      <div class="col-10">
        <span i18n="@@comment">Comment</span>
        <span class="col-8" app-textarea-view-edit [(value)]="room.comment" [authorized]="authorized"></span>
      </div>
    </div>

  </div>
</section>