<section class="main">
  
  <!-- List Header -->
  <div class="form-group">
      <div class="input-group col-md-6">
        <ng-container i18n="@@filter">Filter</ng-container>
        <div class="input-group addon">
            <input type="text" class="form-control" [(ngModel)]="searchString">
        </div>
      </div>
    </div>


  <!-- List Body -->
  <div class="table-responsive">
    <table class="table table-striped table-sm">  
      <thead>
        <tr>
          <th (click)="adjustSort('email')" i18n="@@usercode">Email</th>
          <th (click)="adjustSort('fisrtName')" i18n="@@firstname">First Name</th>
          <th (click)="adjustSort('lastName')" i18n="@@lastname">Last Name</th>
          <th i18n="@@role">Role</th>          
          <th i18n="@@deleteuser">Delete</th>   
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users | searchUsersPipe: searchString | sortUsersPipe : sortCriteria : sortOrder"
          app-users-list-item
          [user]="user"
          (removed)="onUserRemoved($event)"
          (changed)="onUserChanged($event)"
          >
        </tr>
      </tbody>
    </table>
  </div>


  <!-- List Footer -->
  <ng-container *ngIf="searchString.length == 0"i18n=@@totalusers>
    Total {{users.length}} { users.length, plural, zero {user} one {user} other {users} }. 
  </ng-container>
  <ng-container *ngIf="searchString.length > 0" i18n=@@selectedusers>
    Selected {{(users | searchUsersPipe : searchString )?.length}} { (users | searchUsersPipe : searchString )?.length, plural, zero {user} one {user} other {users} } of
    total {{users.length}} { users.length, plural, zero {user} one {user} other {users} }. 
  </ng-container>

</section>