<section class="main">
  
  <!-- List Header -->
  <div class="form-group">
      <div class="input-group col-md-6">
        <ng-container i18n="@@filter">Filter</ng-container>
        <div class="input-group addon">
            <input type="text" class="form-control" [(ngModel)]="searchString">
        </div>
      </div>
    </div>


  <!-- List Body -->
  <div class="table-responsive">
    <table class="table table-striped table-sm">  
      <thead>
        <tr>
          <th (click)="adjustSort('roomCode')" i18n="@@roomcode">Room</th>
          <th (click)="adjustSort('capacity')" i18n="@@capacity">Capacity</th>
          <th (click)="adjustSort('free')" i18n="@@free">Free</th>          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let room of rooms | searchRoomsPipe: searchString | sortRoomsPipe : sortCriteria : sortOrder"
          app-rooms-list-item
          [room]="room"
          [authorized]="authorized"></tr>
      </tbody>
    </table>
  </div>


  <!-- List Footer -->
  <ng-container *ngIf="searchString.length == 0"i18n=@@totalrooms>
    Total {{rooms.length}} { rooms.length, plural, zero {room} one {room} other {rooms} }. 
  </ng-container>
  <ng-container *ngIf="searchString.length > 0" i18n=@@selectedrooms>
    Selected {{(rooms | searchRoomsPipe : searchString )?.length}} { (rooms | searchRoomsPipe : searchString )?.length, plural, zero {room} one {room} other {rooms} } of
    total {{rooms.length}} { rooms.length, plural, zero {room} one {room} other {rooms} }. 
  </ng-container>

</section>