<section class="loojang-app">  
  <app-navbar></app-navbar>
  <div class="container">        
    <br>
    <h1 class="display-4" i18n="@@rooms">Rooms</h1>    
    <p class="lead" i18n="@@roomsintro">List of rooms in retirement home "Kuldne Loojang".</p>
    <br>
    <div class="card">
      <div class="card-body">
        <br>
        <div class="input-group col-md-6" *ngIf="authorized">
          <a routerLink="new">
            <button class="btn btn-primary" i18n="@@createnewroom">Create New Room</button>
          </a>
        </div>        
        <br>
        <app-rooms-list
          [rooms]="rooms"
          [searchString]="searchString"
          ></app-rooms-list>
        <br>
        <br>
      </div>
    </div>   
  </div>
</section>