<td>
    <a routerLink="rooms/{{ room.roomId }}" *ngIf="authorized">{{ room.roomCode }}</a>
    <ng-container *ngIf="!authorized">{{ room.roomCode }}</ng-container>
</td>
<td>{{ room.capacity }}</td>
<td>{{ room.free }}</td>