<section class="main">
    <div class="container"> 
      <h5 i18n="@@addprescription">Add Prescription</h5>
      <br>
  
      <div class="row">
        <div class="col-5">
          <span i18n="@@prescriptiondescription">Description</span>
          <h2 app-textbox-view-edit [(value)]="prescription.description" [authorized]="authorized"> </h2>  
        </div>
        
      </div>
      <br><br>

      <div class="row">
        <div class="col-5">
          <span i18n="@@frequency">Frequency</span>  
          <select class="form-control" (change)="onSelectedFrequencyChange($event)">
            <option [ngValue]="frequencyType" *ngFor="let frequencyType of frequencyTypes">{{ frequencyType.frequencyTypeName }}</option>                    
          </select>        
        </div>

      </div>
      <br><br>

      <div class="row">          
        <div class="col-5">
          <span i18n="@@startdate">Start Date</span>
          <h2 app-datebox-view-edit [(value)]="prescription.startDate" [authorized]="authorized"> </h2>
        </div>

        <div class="col-5">
            <span i18n="@@enddate">End Date</span>
            <h2 app-datebox-view-edit [(value)]="prescription.endDate" [authorized]="authorized"> </h2>
          </div>  
      </div>
      <br><br>
  
      <div class="row" *ngIf="authorized">
        <div class="col-12">
          <button class="btn btn-primary" *ngIf="!insertNewPrescription" (click)="savePrescription()" i18n="@@save">Save</button>
          <button class="btn btn-primary" *ngIf="insertNewPrescription" (click)="savePrescription()" i18n="@@add">Add</button>
          <button class="btn btn-danger" *ngIf="!insertNewPrescription" (click)="cancel()" i18n="@@delete">Delete</button>
          <button class="btn btn-danger" *ngIf="insertNewPrescription" (click)="cancel()" i18n="@@cancel">Cancel</button>        
        </div>
      </div>
      <br><br>
  
      <div class="row">
        <div class="col-10">
          <span i18n="@@comment">Comment</span>
          <span class="col-8" app-textarea-view-edit [(value)]="prescription.comment" [authorized]="authorized"></span>
        </div>
      </div>
  
    </div>
  </section>