<div class="row">
  <div class="col-5">
    <span i18n="@@firstName">First name</span>
    <h2 app-textbox-view-edit [(value)]="patient.firstName" [authorized]="authorized"> r</h2>  
  </div>
  
  <div class="col-5">
    <span i18n="@@lastName">Last name</span>
    <h2 app-textbox-view-edit [(value)]="patient.lastName" [authorized]="authorized"> </h2>
  </div>
</div>
<br><br>

<div class="row">
  <div class="col-5">
    <span i18n="@@personalCode">Id</span>
    <h4 app-textbox-view-edit [(value)]="patient.personalCode" [authorized]="authorized"> </h4>
  </div>                 
</div>
<br><br>

<div class="row"> 
    <div class="col-4">
        <span i18n="@@birthDay">Birthday</span>
        <h4 app-datebox-view-edit [(value)]="patient.birthDay" [authorized]="authorized"> </h4>  
      </div> 

  <div class="col-4"  *ngIf="!insertNewPatient">
    <span i18n="@@dateJoined">Joined</span>
    <h4 app-datebox-view-edit [(value)]="patient.joinedDate" [authorized]="authorized"> </h4>
  </div>

  <div class="col-4" *ngIf="!(insertNewPatient || patientIsPresent)">
    <span i18n="@@dateLeft">Left</span><br>
    <h4 app-datebox-view-edit *ngIf="!patientIsPresent" [(value)]="patient.leftDate" [authorized]="authorized"> </h4>        
  </div>
</div>
<br><br>

<div class="row" *ngIf="authorized">
  <div class="col-12">
    <button class="btn btn-primary" *ngIf="!insertNewPatient" (click)="savePatient()" i18n="@@save">Save</button>
    <button class="btn btn-primary" *ngIf="insertNewPatient" (click)="savePatient()" i18n="@@add">Add</button>
    <button class="btn btn-danger" *ngIf="!insertNewPatient && patientIsPresent" (click)="left()" i18n="@@hasleft">Has left</button>
    <button class="btn btn-danger" *ngIf="!(insertNewPatient || patientIsPresent)" (click)="deletePatient()" i18n="@@delete">Delete</button>    
  </div>
</div>
<br><br>

<div class="row">
  <div class="col-10">
    <span i18n="@@comment">Comment</span>
    <span class="col-8" app-textarea-view-edit [(value)]="patient.comment" [authorized]="authorized"></span>
  </div>
</div>