<td>
  {{ patientsGuardian.firstName }}
</td>
<td>
  {{ patientsGuardian.lastName }}
</td>
<td>
  {{ patientsGuardian.fromDate | noFutureDates }}
</td>
<td>
  {{ patientsGuardian.toDate | noFutureDates }}
</td>
<td *ngIf="authorized">
  <button *ngIf="assigned" class="btn btn-sm btn-danger" i18n="@@unassigndoctrobutton" (click)="removeGuardian()">Unassign</button>
  <button *ngIf="!assigned" class="btn btn-sm" i18n="@@removedoctrobutton" (click)="removeGuardian()">Remove</button>    
</td>