<td>
    <a routerLink="rooms/{{ patientsRoom.roomId }}" *ngIf="authorized">{{ patientsRoom.roomCode }}</a>
    <ng-container *ngIf="!authorized">{{ patientsRoom.roomCode }}</ng-container>
</td>
<td>
    {{ patientsRoom.fromDate | noFutureDates }}
</td>
<td>
    {{ patientsRoom.toDate | noFutureDates }}
</td>