<!-- List Header -->
<div class="form-group">
  <div class="input-group col-md-6">
    <ng-container i18n="@@filter">Filter</ng-container>
    <div class="input-group addon">
      <input type="text" class="form-control" [(ngModel)]="searchStringPatientsRooms">
    </div>
  </div>
</div>


<!-- List Body -->
<div class="table-responsive">
  <table class="table table-striped table-sm">  
    <thead>
      <tr>
        <th (click)="adjustSort('roomCode')" i18n="@@roomcode">Room</th>
        <th (click)="adjustSort('fromDate')" i18n="@@fromdate">From</th>
        <th (click)="adjustSort('toDate')" i18n="@@todate">To</th>            
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let patientsRoom of patientsRooms | searchPatientsRoomsPipe: searchStringPatientsRooms | sortPatientsRoomsPipe : sortCriteria : sortOrder"
        app-patientsrooms-list-item
        [patientsRoom]="patientsRoom"
        [authorized]="authorized"></tr>
    </tbody>
  </table>
</div>

<!-- List Footer -->
<ng-container *ngIf="searchStringPatientsRooms.length == 0 "i18n=@@totalpatientsrooms>
  Total {{patientsRooms.length}} { patientsRooms.length, plural, zero {rooms} one {room} other {rooms} }. 
</ng-container>
<ng-container *ngIf="searchStringPatientsRooms.length > 0" i18n=@@selectedpatientsrooms>
  Selected {{(patients | searchPatientsPipe : searchStringPatientsRooms )?.length}} { (patients | searchPatientsPipe : searchStringPatientsRooms )?.length, plural, zero {rooms} one {room} other {rooms} } of
  total {{patientsRooms.length}} { patientsRooms.length, plural, zero {rooms} one {room} other {rooms} }. 
</ng-container>