<app-navbar></app-navbar>

<div class="container">        
  <br>
  <h1 class="display-4" i18n="@@kuldneLoojang">Kuldne Loojang!</h1>  
  <br>
  <div class="card">
    <div class="card-body">
      <div class="container">

        <p i18n="@@welcome">Welcome to retirement-home "Kuldne Loojang" site! Please login or register as a new user.</p>
        <br>
        <a routerLink="/login">
          <button class="btn btn-primary" i18n="@@login">Login</button>
        </a>
        
        <a routerLink="/register">
          <button class="btn btn-primary" i18n="@@register">Register</button>
        </a>
        
      </div>
    </div>
  </div>
</div>

