<app-navbar></app-navbar>

<div class="container">        
  <br>
  <h1 class="display-4" i18n="@@kuldneLoojang">Kuldne Loojang!</h1>  
  <br>
  <div class="card">
    <div class="card-body">
      <div class="container">

        <p i18n="@@roleless">Welcome to retirement-home "Kuldne Loojang" site! Your account has been registered, but you have not yet been granted with any role. Please login later!</p>
        <br>        
        
      </div>
    </div>
  </div>
</div>