<td>
    {{ patientsDoctor.firstName }}
</td>
<td>
    {{ patientsDoctor.lastName }}
</td>
<td>
    {{ patientsDoctor.fromDate | noFutureDates }}
</td>
<td>
    {{ patientsDoctor.toDate | noFutureDates }}
</td>
<td *ngIf="authorized">
    <button *ngIf="assigned" class="btn btn-sm btn-danger" i18n="@@unassigndoctrobutton" (click)="removeDoctor()">Unassign</button>
    <button *ngIf="!assigned" class="btn btn-sm" i18n="@@removedoctrobutton" (click)="removeDoctor()">Remove</button>    
</td>