<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="#" i18n="@@kuldneLoojang">Kuldne Loojang</a>

  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" *ngIf="signedIn && (currentRole==='ADMIN' || currentRole==='DOCTOR'|| currentRole ==='GUARDIAN')">
          <a class="nav-link" routerLink="{{ '/' + currentRole.toLowerCase() + '/patients' }}" i18n="@@patients">Patients</a>
        </li>
        <li class="nav-item" *ngIf="signedIn && (currentRole==='ADMIN' || currentRole==='DOCTOR'|| currentRole ==='GUARDIAN')">
          <a class="nav-link" routerLink="{{ '/' + currentRole.toLowerCase() + '/medicalcases' }}" i18n="@@medicalcases">Medical Cases</a>
        </li>
        <li class="nav-item" *ngIf="signedIn && (currentRole==='ADMIN' || currentRole==='DOCTOR' || currentRole==='CARETAKER' || currentRole ==='GUARDIAN')">
          <a class="nav-link" routerLink="{{ '/' + currentRole.toLowerCase() + '/procedures' }}" i18n="@@procedures">Procedures</a>
        </li>
        <li class="nav-item" *ngIf="signedIn && currentRole==='ADMIN'">
          <a class="nav-link" routerLink="{{ '/' + currentRole.toLowerCase() + '/rooms' }}" i18n="@@rooms">Rooms</a>
        </li>
        <li class="nav-item" *ngIf="signedIn && currentRole==='ADMIN'">
          <a class="nav-link" routerLink="{{ '/' + currentRole.toLowerCase() + '/users' }}" i18n="@@navusers">Users</a>
        </li>
      </ul>
      <div style="float:right;">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" *ngIf="signedIn" >
            <a class="nav-link" *ngIf="signedIn">{{ name }}
            </a>
          </li>
          <li class="nav-item" *ngIf="signedIn">
            <a class="nav-link" routerLink="/logout" i18n="@@logout">Log out</a>
          </li>
          <li class="nav-item" *ngIf="!signedIn">
            <a class="nav-link" routerLink="/login" i18n="@@login">Log in</a>
          </li>
          <li class="nav-item" *ngIf="!signedIn">
            <a class="nav-link" routerLink="/register" i18n="@@register">Register</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

</nav>
