<td>
  <a routerLink="{{ '/' + currentRole.toLowerCase() + '/medicalcases/' + medicalCase.medicalCaseId}}">{{ medicalCase.createdOn | date }}</a>
</td>
<td>{{ medicalCase.patientName }}</td>
<td>{{ medicalCase.doctorName }}</td>
<td>{{ medicalCase.comment }}</td>
