<section class="loojang-app">  
  <app-navbar></app-navbar>
  <div class="container">        
    <br>
    <h1 class="display-4" *ngIf="insertNewMedicalCase==false">{{ title | titleCase }}</h1>        
    <h1 class="display-4" *ngIf="insertNewMedicalCase==true">New MedicalCase</h1>        
    <br>
    <div class="card">
      <div class="card-body">
        <app-medicalcase-details
          [medicalCase]="medicalCase"
          [insertNewMedicalCase]="insertNewMedicalCase"
          (medicalCaseChange)="onMedicalCaseChange($event)"
          (medicalCaseDelete)="onMedicalCaseDelete($event)"
          [authorized]="authorized"
          ></app-medicalcase-details>
        <br>
        <br>
      </div>
    </div>
    <br>

    <ng-container *ngIf="insertNewPrescription">
    <div class="card" >
      <div class="card-body">
        <app-prescription-details
          [(prescription)]="prescription"
          [authorized]="authorized"
          [frequencyTypes]="frequencyTypes"
          [insertNewPrescription] = "insertNewPrescription"
          (prescriptionCancel)="onPrescriptionCancel($event)"
          (prescriptionChange)="onPrescriptionChange($event)"                    
        >
        </app-prescription-details>
        <br>
        <br>  
      </div>
    </div>
    <br>
    </ng-container>

    <div class="card" *ngIf="!insertNewMedicalCase && authorized">
      <div class="card-body">
        <h5 i18n="@@prescriptions">Prescriptions</h5>
        <br>
        <div class="row col-6" *ngIf="authorized">                
          <div class="col-1">
            <button class="btn btn-primary" [disabled]="insertNewPrescription" i18n="@@addnewprescription" (click)="addPrescription()">Add Prescription</button>
          </div>
        </div>
        <br>
        <br> 
        <app-prescription-list
          [(prescriptions)]="medicalCase.prescriptions"        
          [frequencyTypes]="frequencyTypes"  
          (prescriptionsChange)="onPrescriptionsChange($event)"
          (prescriptionRemoved)="onPrescriptionRemoved($event)"          
          [authorized]="authorized"  
          [(searchStringPrescriptions)]="searchStringPrescriptions"        
          ></app-prescription-list>
        <br>
        <br>        

      </div>
    </div>
    <br>

  </div>
</section>