<div *ngIf="authorized">    
    <span class="textbox" *ngIf="viewOrEdit == true" (click)="viewOrEdit = false">
        {{ value }}
        <span *ngIf="value != null" class="edittext" i18n="@@edit">Edit</span>
    </span>
        
    <span *ngIf="viewOrEdit == false" >
        <input type="text" [(ngModel)]="value" (keyup.escape)="cancel()" (keyup)="onKeyup($event)">        
        <button class="btn btn-sm" *ngIf="oldValue != null" (click)="cancel()" i18n="@@cancel">Cancel</button>        
    </span>
</div>
<div *ngIf="!authorized">    
    <span class="textbox">
        {{ value }}
    </span>
</div>