<section class="main">

  <!-- List Header -->
  <div class="form-group">
    <div class="input-group col-md-6">
      <ng-container i18n="@@filter">Filter</ng-container>
      <div class="input-group addon">
          <input type="text" class="form-control" [(ngModel)]="searchString">
      </div>
    </div>
  </div>


  <!-- List Body -->
  <div class="table-responsive">
    <table class="table table-striped table-sm">  
      <thead>
        <tr>
          <th (click)="adjustSort('firstName')" i18n="@@firstname">First Name</th>
          <th (click)="adjustSort('lastName')" i18n="@@lastname">Last Name</th>
          <th (click)="adjustSort('personalId')" i18n="@@personalcode">Id</th>
          <th (click)="adjustSort('birthDay')" i18n="@@birthday">Birthday</th>
          <th (click)="adjustSort('room')" i18n="@@room">Room</th>
          <th (click)="adjustSort('dateJoined')" i18n="@@joined">Joined</th>            
          <th (click)="adjustSort('dateLeft')" i18n="@@left">Left</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let patient of patients | searchPatientsPipe: searchString | sortPatientsPipe : sortCriteria : sortOrder"
          app-patients-list-item
          [patient]="patient"
          [authorized]="authorized"></tr>
      </tbody>
    </table>
  </div>

  <!-- List Footer -->
  <ng-container *ngIf="searchString.length == 0"i18n=@@totalpatients>
      Total {{patients.length}} { patients.length, plural, zero {patient} one {patient} other {patients} }. 
    </ng-container>
    <ng-container *ngIf="searchString.length > 0" i18n=@@selectedpatients>
      Selected {{(patients | searchPatientsPipe : searchString )?.length}} { (patients | searchPatientsPipe : searchString )?.length, plural, zero {patient} one {patient} other {patients} } of
      total {{patients.length}} { patients.length, plural, zero {patient} one {patient} other {patients} }. 
    </ng-container>    
</section>